.App {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 75px 204px 0 204px;
}

#root {
  position: relative; /* root 요소의 포지션을 relative로 설정 */
  min-height: 100vh; /* 최소 화면 높이 만큼 지정 */
}
